body {
  padding: 0;
  text-align: center;
  margin: 0;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 100vw;
  padding: 20px 0px;
  justify-content: center;
}

/* Game screen container */
#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background.png); /* Main background image */
  background-size: cover; /* Size the spaceship and background */
  background-position:center; /* Position spaceship and center the background */
  background-repeat: no-repeat; /* Prevent tiling for both images */
}

#ship {
  display: none;
  position: absolute;
  top: 30px;
  left: 500px; /*400 - 1000px */
  width: 100px;
  height: 100px;
  background-image: url('../images/spaceship.png');
  background-size: cover;
  animation: shake 0.5s infinite; /* Animation applied here */
}




/* Shaking animation */
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0); }
  25% { transform: translate(-5px, 5px) rotate(-1deg); }
  50% { transform: translate(5px, -5px) rotate(1deg); }
  75% { transform: translate(-5px, -5px) rotate(0); }
  100% { transform: translate(0, 0) rotate(0); }
}

/* Explosion Effect of enemies when they die*/
.explosion {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('../images/explosion.png'); /* Replace with your explosion/smoke image */
  background-size: cover;
  animation: explode 0.8s ease-out forwards;
  pointer-events: none; /* Prevent interaction */
  z-index: 100; /* Ensure it appears above other elements */
}

/* Keyframes for explosion */
@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

#game-end-lose {
  display: none;
}

#game-end-win {
  display: none;
}


.game-intro p {
  font-size: 18px;
  font-family: 'Verdana';
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.bullet {
  border: 1px solid blue;
}
.enemy {
  border: 1px solid red;
}